<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chat</title>
  </head>
  <body>
      <h3>You are connected to <%= user %></h3>
      <br>
      <div class="chat">
        <div class="chat-messages" >

        </div>
        <textarea name="type-messages" placeholder="type your message here"></textarea>
        <input type="submit" name="submit" value="SEND"></input>
      </div>


  </body>
</html>
