<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>

    welcome to SIMPLYCHAT by subhdcode! <br><br>
    <form class="" action="/chat" method="post">
      <input type="text" name="username" placeholder="Enter your username">

      <input type="submit" name="submit" value="SEND">
    </form>

  </body>
</html>
