<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>

    welcome to SIMPLYCHAT by subhdcode! <br><br>
    <form id="loginform" action="/rooms" method="post">
      <input type="text" id="username" name="username" placeholder="Enter your username" focus>

      <input type="submit" name="submit" value="SEND">
    </form>

    <script type="text/javascript">
      $(function() {
        socket.io();
        $('#loginform').submit(function(e) {
          alert('newuser: ');
          e.preventDefault();
          var username = $('#username').val();
          socket.emit('login', username);
        })



      });
    </script>

  </body>
</html>
