<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chat</title>
    <style >
      #login {
        height: 250px;
        text-align: center;
        margin: 10px;
      }

      #rooomswrapper {
        display: none;
        margin: 10px;
      }

      #chat-rooms {
        height: 100px;
      }

      #chatwrapper {
        display: none;
        height : auto;
      }

      #chat{
        width: auto;
        height: 500px;
      }

      #chat-messages {
        float: left;
        width: 500px;
        height: 400px;
        padding: 5px;
        border: 1px solid;
        overflow-y: scroll;
      }

      #userswrapper {
        width: 100px;
        height: 100px;
        overflow-y: scroll;
      }



      #enterMessage textarea{
        width: 500px;

      }

    </style>



  </head>
  <body>

    <section id="login">
      <h3>enter your username</h3><br>
      <form id="loginform">
        <input type="text" id="username" name="username" placeholder="Enter your username" autofocus>

        <input type="submit" name="submit" value="SEND">
      </form>
    </section>


    <section id="rooomswrapper">
      <h3>Available Chat rooms:</h3><br>
        <div id="chat-rooms">

        </div>
        <form id="roomselect" >
          <input type="text" id="joinroomselect" name="joinroomselect" autofocus>
          <input type="submit" value="JOIN">
        </form>
      <br>
      <h3>Or create a room: </h3><br>
      <form id="create_room">
        <input type="text" name="newroom" id="abc" placeholder="enter a unique name for the room." autofocus>

        <input type="submit" name="submit" value="CREATE">
      </form>
    </section>

    <section id="chatwrapper">
      <div id="chat">
        Chat Room : <div id="currentroom"></div>
        <div id="chat-messages" >


        </div>

        <div class="userswrapper">
          <h4>Users:</h4><br>
          <div id="usersinroom">

          </div>

        </div>

      </div>

      <div id="enterMessage">
        <form id="chat-form" >
          <textarea name="type-messages" placeholder="type your message here" id="message" autofocus></textarea>
          <input type="submit" name="submit" value="SEND"></input>
        </form>
      </div>
    </section>

    <script   src="/js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      $(function() {
        socket = io();
        var login = $('#login');
        var rooomswrapper = $('#rooomswrapper');
        var chatwrapper = $('#chatwrapper');
        //var rooomswrapper = $('#rooomswrapper');
        var chatRooms = $('#chat-rooms');
        var createroom = $('#create_room');
        var newroom = $('#abc');
        var textarea = $('#message');
        var chatForm = $('#chat-form');
        var messages = $('#chat-messages');
        var msglist = $('#msglist');
        var chatmessages = $('#chat-messages');
        var usersinroom = $('#usersinroom');
        var currentroom = $('#currentroom');

        $('#loginform').submit(function(e) {
          e.preventDefault();
          var username = $('#username').val();
          socket.emit('login', username);
          $('#username').val('');
        });

        socket.on('showrooms', function(data) {
          if(data == 'rooomswrapper') {
            login.hide();
            rooomswrapper.show();
          } else if(data == 'x') {
            alert('username already taken! enter unique username.');
          }

        });

        $('#create_room').submit(function(e) {
          e.preventDefault();
          socket.emit('newroom', $('#abc').val());
          newroom.val('');


        });

        socket.on('updateRooms', function(data) {
          var html = '';
          for(var i=0; i<data.length; i++) {
            html += '<a class="roomclick" href="#">' + data[i] + '</a><br>'; ///# ->  ' + data[i] +'
          }
          chatRooms.append(html);
        });

        socket.on('showchat', function(data) {
          if(data.segment == 'chatwrapper') {
            rooomswrapper.hide();
            chatwrapper.show();
            alert('current room: ' + data.room);
            currentroom.append(data.room);
          } else {
            alert('room name already exists! enter a unique name.');
          }
        });

        socket.on('updateUsers', function(data) {
          var html='';
          for(var i in data) {
            html += '<p>' +  data[i] + '<p>';
          }
          usersinroom.append(html);
        });

        $('#roomselect').submit(function(e) {
          e.preventDefault();
          var room = $('#joinroomselect').val();

          socket.emit('joinroom', room);
          $('#joinroomselect').val('');
        });
/*
        $('.roomclick').click(function(e) {
          //e.preventDefault();
          alert('clicked on ' + $(this).text());
          socket.emit('joinroom', $(this).text());
        });
*/

        chatForm.submit(function(e) {
          e.preventDefault();
          var message = textarea.val();
          socket.emit('newMessage', message);
          //alert('message sent!');
          textarea.val('');


        });

        socket.on('showMessage', function(item) {
          var html = '<b>'+ item.sender + '</b>: ' + item.msg + '<br>'
          //alert(html);
          chatmessages.append(html);
        });




/*
        textarea.keypress(function(e) {
          if(e.which == 13) {
            e.preventDefault();
            chatForm.trigger('submit');
          }
        });



        socket.on('showmsg', function(data) {
          //msglist.append('<li>data</li><br>');
          msglist.append($('<li>').text(msg));
        });
*/






      });
    </script>

  </body>
</html>
